body{
    background-color: rgb(0, 0, 0);
    font-family: 'Oxygen', sans-serif;/* Add this to make sure all componenets have the family */
}

h1{
    margin: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(255, 208, 0);
    /* Main Header */
}

p{
    font-size: 20px;
    margin: 20px 15%;
    color:rgb(21, 252, 0);
}

h2{
    margin: 40px 10%;
    color: red;
    font-size: 30px; 
}

/* To do later, resize Img */
img{
    /*
    height: 642;
    width: 841; */
    width: 207 px;
    height: 300 px;
    margin-left: 100px;
}

.breathe{
    /* this is a class to group all the elements together! */
}